body{
    background-color: violet;
}
#first{
    margin: auto;
    margin-top: 200px;
    width: 350px;
    height: 300px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: blanchedalmond;
    

}
#second_div
{
    text-align: center;
    padding-top: 20px;
}
input{
    margin: 10px;
    width: 250px;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

button {
     margin-top: 22px;
     margin-left: 48px;
     margin-right: 55px;
     width: 70px;
     height: 30px;
     font-size: 20px;
     border-radius: 10px;
}
a{
     text-decoration: none;
}
button:hover{
    background-color: rosybrown;
}
header{
    background-color: white;
    text-align: center;
    margin-left: 70px ;
    margin-right: 70px;
    border-radius: 5px;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 20px;
}