{% extends 'layout.html' %}

{% block title %}Candidate Registration{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/cstyle.css">
{% endblock %}

{% block body%}

{% if data==() %}
<div style="text-align: center; width: 50%;margin: auto;">
    <h1>No Running Election for candidate registration</h1>
</div>
{% else %}
{% if bool %}
<div style="text-align: center; width: 50%;margin: auto;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h1>{{message}}</h1>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Candidate Registration</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form method='POST' action='cregister' enctype="multipart/form-data">
                    <div class="row clearfix">
                        <div class="col_half">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" name="fname" placeholder="First Name" />
                            </div>
                        </div>
                        <div class="col_half">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" name="lname" placeholder="Last Name" required />
                            </div>
                        </div>
                    </div>
                    <div class="input_field"> <span><i class="fa fa-birthday-cake" aria-hidden="true"></i></span>
                        <input type="date" name="dob" placeholder="Date of Birth" required />
                    </div>
                    <p id="cel_validator"></p>
                    <div class="input_field"> <span><i class="fa fa-mobile" aria-hidden="true"></i></span>
                        <input type="tel" name="phone" id="mobNum" onchange="checkMobileNum()" placeholder="Mobile" required />
                    </div>

                    <div class="input_field radio_option">
                        <input type="radio" name="gender" id="rd1" value="Male">
                        <label for="rd1">Male</label>
                        <input type="radio" name="gender" id="rd2" value="Female">
                        <label for="rd2">Female</label>
                        <input type="radio" name="gender" id="rd3" value="Other">
                        <label for="rd3">Other</label>
                    </div>

                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="email" name="email" placeholder="Email" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" id="pass" onchange="matchPass()" name="password" placeholder="Password" required />
                    </div>
                    <p id="msg"></p>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" id="conf_pass" onchange="matchPass()" name="conf_password" placeholder="Re-type Password" required />
                    </div>

                    <div class="input_field">
                        <span id="file"><label for="logo">Election symbol</label></span>
                        <input type="file" accept=" .png, .jpeg , .jpg" name="logo" value="Election" id="logo" />
                        <label>supported file formats are .png, .jpeg, .jpg</label>
                    </div>

                    <div class="textarea_field">
                        <textarea name="intro" placeholder="Brief Introduction" required></textarea>
                    </div>

                    <input class="button" type="submit" value="Register" />
                </form>
            </div>
        </div>
    </div>
</div>

{% else %}
<div style="text-align: center; width: 50%;margin: auto;padding-top: 150px;">
    <h1>No Running election availabel for candidate registration</h1>
</div>
{% endif %}
{% endif %}
{% endblock %}


{% block script %}


<script type="text/javascript">
    $(document).ready(function () {

        $("#register").addClass("active");
        $("#cregister").addClass("active");


    })
    
</script>
<script src="static/validator.js"></script>
{% endblock %}