{% extends 'layout.html' %}

{% block title %}home{% endblock %}

{% block link %}
<link type="text/css" rel="stylesheet" href="static/noelection.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet"> 
{% endblock %}

{% block body %}

    <h1 class="textStyle">Ooops......</h1>
    <h2 class="textStyle">No Running Election available</h2>
    <p class="textStyle">Please come back later...</p>

{% endblock %}

{% block script %}


  <script type="text/javascript">
		$(document).ready(function () {
        $("#home").addClass("active");
		})
	</script>
  
  {% endblock %}