{% extends 'layout.html' %}

{% block title %}home{% endblock %}

{% block link %}
<link type="text/css" rel="stylesheet" href="static/showCandidates.css" />
{% endblock %}


{% block body %}

<div class="container">
{% for row in data %}   
    <div class="candidate">
        <div class="top"></div>
        <div class="restPart">
            <img class="candidateLogo" src="../static/pics/Hermes.png" alt="candidate Logo">
            <div class="intro">
                <h3>{{row[1] }} {{row[2] }}</h3>
                <p>{{row[3]}} </p>
            </div>
            <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, velit.
                Possimus qui tempora, error asperiores necessitatibus, non fugit nobis est rem assumenda dolorem dolor
                exercitationem.</p>
            <button class="btn">More INFO</button>
        </div>
    </div>

{% endfor %}

</div>

{% endblock %}

{% block script %}


  <script type="text/javascript">
		$(document).ready(function () {
        $("#home").addClass("active");
		})
	</script>
  
  {% endblock %}